::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--nextui-colors-primary);
}

body {
  background: url(/polygon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}